{% extends "base.html.twig" %}

{% trans_default_domain 'NovosgaVideoBundle' %}

{% block title -%}
    {{ 'title'|trans }}
{%- endblock %} 

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/novosgavideo/css/style.css') }}">
{% endblock %}