{% extends "@NovosgaVideo/base.html.twig" %}

{% trans_default_domain 'NovosgaVideoBundle' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>
                <i class="fa fa-wrench" aria-hidden="true"></i>
                {{ 'title'|trans }}
                <small>
                    {{ 'subtitle'|trans }}
                </small>
            </h1>
        </div>
        <div class="col-md-6 col-lg-4 text-right">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="{{ 'label.search'|trans }}" value="{{ app.request.get('q') }}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-secondary">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <a href="{{ path('novosga_video_new') }}" class="btn btn-primary ml-auto">
                    <i class="fa fa-plus"></i>
                    {{ 'button.new_user'|trans }}
                </a>
            </form>
        </div>
    </div>

    <hr>

    <table class="table table-bordered">
        <thead class="thead-light">
        <th>#</th>
        <th>{{ 'label.title'|trans }}</th>
        <th>{{ 'label.description'|trans }}</th>
        <th>{{ 'label.video'|trans }}</th>
        <th></th>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.video }}</td>
                <td class="text-right">
                    <a href="{{ path('novosga_video_edit', { id: video.id }) }}" class="btn btn-secondary">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ paginacao|raw }}
{% endblock %}